body {
    margin: 0;
    font-family: Arial, sans-serif;
}

header {
    background-color:rgb(255, 174, 0);
    color: black;
    padding: 1rem 0;
    text-align: center;
}

.nav-links {
    color: black;
    list-style: none;
    padding: 0;
}

.nav-links li {
    display: inline;
    margin: 0 1rem;
}

.nav-links a {
    color: black;
    text-decoration: none;
}

.hero-section {
    background-color: rgb(47, 255, 134);
    color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.hero-content {
    max-width: 600px;
}

.cta-button {
    background-color: skyblue;
    color: white;
    padding: 1rem 2rem;
    text-decoration: none;
    border-radius: 5px;
    display: inline-block;
    margin-top: 1rem;
}

.content-section {
    background-color:skyblue;
    padding: 5rem;
    text-align: center;
}
.cta-section {
    background-color: pink;
    padding: 5rem;
    text-align: center;
}
.bta-section {
    background-color:salmon;
    padding: 5rem;
    text-align: center;
    text: size adjust 10px;

.footer {
    background-color:pink;
    color: white;
    padding: 2rem;
    text-align: center;
}


